.login{
    justify-content:center;
    align-items: center;
    display: flex;
    height: 75vh;
}
.auth{
    flex: 1;
    display: flex;
    justify-content: center;

}
.registration{
    display: flex;
}
.image{
    color: #1976d2;
    text-align: center;
    flex: 1;
}