.login{
    justify-content: space-between;
    align-items: center;
    display: flex;
    height: 55vh;
}
.auth{
    flex: 1;
    display: flex;
    justify-content: center;
    padding-right: 60px;

}
.image{
    color: #1976d2;
    text-align: center;
    flex: 1;
}